.DS_Store
/data/next/creq/subjects/*.xml
/data/next/creq/*.xml
/data/next/creq/*.sqlite
/config.inc.php*
/node_modules
/www/.htaccess
/tmp
/vendor
/.settings
/.project
/.buildpath
/*.espressostorage
/*.sublime-workspace
/*.sublime-project
/www/css
/www/scripts/*.min.*
/www/wdn
