config.inc.php
www/.htaccess
run-tests.log
tests/run-tests.log
config.php
*.espressostorage
.DS_Store

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.php.core.prefs

.settings/org.eclipse.core.resources.prefs
