<?xml version="1.0" encoding="utf-8" ?>
<phpunit strict="true" colors="true"
         
>
 <filter>
  <whitelist addUncoveredFilesFromWhitelist="false">
   <directory suffix=".php">../src/</directory>
   <directory suffix=".php">../data/</directory>
   <directory suffix=".php">../www/</directory>
  </whitelist>
 </filter>
</phpunit>
