@import url('general.css');
@import url('courses.css');
@import url('filters.css');
@import url('majors.css');
@import url('qtip_courses.css');
@import url('indesign_epub.css');
@import url('search_results.css');

