/**
 * Course details are in definition lists. dl > dt, and dl > dd.
 */ 

dl {
	margin-top: 1.899em;
}

dt {
	padding: 0;
	position: relative;
}

dd {
	margin: 0 0 3em 0;
	padding: 0.75em 0 0 0 !important;
	position: relative;
	overflow: hidden;
}
@media (min-width: 480px) {
	dd {
		padding: 0 !important;
	}
}

dt .courseID {
    float: left;
	width: 100%;
    border-radius: 0.317em;
    padding: 0.602em 0.339em 0.75em;
	text-align: center;
    background-color: #CEDFE3;
	color: #213847;
}

.glossary dt {
    font-weight: bold;
}
.glossary dd {
    margin-bottom: 0.25em;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 0 0 1em !important;
}
.course .subjectCode {
	position: relative;
	display: block;
	padding-bottom: 0;
	font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, 'Verdana Ref', Geneva, Tahoma, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	font-size: 0.802rem;
}
.course .number {
	display: block;
	margin-top: -0.1em;
	font-family: 'Tungsten A', 'Tungsten B', Impact, Haettenschweiler, 'Arial Narrow Bold', 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 40px;
	font-size: 2.532rem;
	line-height: 1;
}
.course .number.l2,
.course .number.l3 {
	font-size: 30px; 
	font-size: 1.899rem; 
	padding: 2px 0px 4px 0px;
}
.course .number.l3 {
	font-size: 17px;
	font-size: 1.069rem;
}
.coursetitle {
	display: block;
	margin-top: 0.254em;
	padding-bottom: 0.254em;
	font-family: 'Tungsten A', 'Tungsten B', Impact, Haettenschweiler, 'Arial Narrow Bold', 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;
	font-weight: 400;
	font-size: 38px;
	font-size: 2.369rem;
	font-size: rem;
	border-bottom: 1px solid #e1dfd7;
	line-height: 1;
	color: #c00;
}
.course .title:hover {
	color: #900;
}

.course .share {
    float:right;
}

.course .title a.showIt {
	background-position: 0px -19px;
}
.course .crosslistings {
	margin: 4px 0;
	display: block;
}

.course .crosslistings .crosslisting {
	font-size: 1em;
	font-style: italic;
	background: none;
}

.course .prereqs,
.course .notes,
.course .subsequent, 
.course .description {
	margin: 7px 0 4px 0;
}
.course .prereqs div,
.course .notes div,
.course .description div {
    display: inline;
}
#maincontent .description {
	margin: 1em 0;
}
#maincontent .notes {
	font-size: 13px;
	font-size: 0.802rem;
	margin-bottom: 0;
	opacity: 0.85;
}
.course .prereqs {
	font-weight: bold;
	font-style: italic;
}
#maincontent .course .prereqs a:hover, #maincontent .course .prereqs a:focus {
	text-decoration: none;
}
.course .subsequent {
	padding: 1em 0.75em;
	border-radius: 0.317em;
    font-size: 13px;
    font-size: 0.802rem;
    background-color: #f1ede2;
}
#maincontent .course .subsequent a {
	font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, 'Verdana Ref', Geneva, Tahoma, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
}
.course .notes {
	font-style: italic;
}
.course .details {
	border-collapse: collapse;
	margin-top: 0.75em;
	right: 0;
}
.course .details tr.alt td {
	border: 1px solid #C9E2F6;
	border-right: none;
	border-left: none;
	background-color: #E3F0FF;
}
.course .details td {
	word-wrap: break-word;
}
.course .details .label {
	font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, 'Verdana Ref', Geneva, Tahoma, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.333;
}
.course .details .value {
	font-size: 13px;
	text-align: right;
}
.course .details .credits .value, 
.course .details .value abbr {
	font-family: 'Tungsten A', 'Tungsten B', Impact, Haettenschweiler, 'Arial Narrow Bold', 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;
	font-weight: 600;
	font-size: 16px;
	font-size: 1.425rem;
}
.course { clear: both; }

.revealed {background-color:#fffea8;}

#subjectListing li, #majorListing li, #collegeListing li, .collegeListing li  {
	list-style: none;
	border-bottom: 1px solid #e1dfd7;
	line-height: 1.333;
	padding: 0.602em 0 0.602em 0.339em;
}

@media (min-width: 480px) {
	.collegemajors .majorlisting {
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    -o-column-count: 2;
	    -ms-column-count: 2;
	    column-count: 2;
		-webkit-column-break-inside: avoid;
	    -moz-column-break-inside: avoid;
	    -o-column-break-inside: avoid;
	    -ms-column-break-inside: avoid;
	    break-inside: avoid;
	}
}
#majorListing {
	margin: 0;
	padding: 0;
}
#majorListing li a, #collegeListing li a {
	border: none;
}
#majorListing li.minorAvailable a:after, #majorListing li.minorOnly a:after {
	content:'Minor\0000a0Available';
	padding-left: 0.75em;
	font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, 'Verdana Ref', Geneva, Tahoma, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', sans-serif;
	font-weight: 400;
	font-size: 0.75em;
	color: #716F6B;
}
#collegeListing li, .collegeListing li {
	list-style: none;
}
#subjectListing li span.subjectCode {
	width: 3.75em;
	display: inline-block;
}
#subjectListing li span.title {
	border-left: 1px dotted #e1dfd7;
	color: #565656;
	padding-left: 0.75em;
}
#subjectListing li a {
	border: none;
}
@media (min-width: 480px) {
	#subjectListing, #collegeListing {
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    -o-column-count: 2;
	    -ms-column-count: 2;
	    column-count: 2;
		-webkit-column-break-inside: avoid;
	    -moz-column-break-inside: avoid;
	    -o-column-break-inside: avoid;
	    -ms-column-break-inside: avoid;
	    break-inside: avoid;
	}
}
.resultCount {
	margin-top: 0;
}

