/**
 * Course details are in definition lists. dl > dt, and dl > dd.
 */ 
dt {
	padding:0;
	position:relative;
}

dd {
	margin:0 0 3em 0;
	padding:8px 0 0 0 !important;
	position:relative;
	overflow:hidden;
}
dt .courseID{
	background-color:#E7F0F9;
    border:2px solid #cedae7;
    border-radius:5px;
    float:left;
}
.glossary dt {
    font-weight: bold;
}
.glossary dd {
    margin-bottom: 0.25em;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 0 0 1em !important;
}
.course .subjectCode {
	color:#818489;
	display:block;
	min-width:85px;
	text-align:center;
	position:relative;
	z-index:12;
}
.course .number {
	font-size:2em;
	margin-top: -0.5em;
	display:block;
	font-weight:bold;
	min-width:85px;
	text-align:center;
}
.course .number.l2,
.course .number.l3 {font-size:1.55em;padding:25px 0px 10px 2px;margin:-15px 5px 0 0;letter-spacing:-2px;}
.course .number.l3 {font-size:1.1em;}
.course .title {
	font-size:1.4em;
	display:block;
	border-bottom:1px solid #C8C8C8;
	font-weight:bold;
	margin-left:95px;
	padding-bottom:2px;}
.course .title a {
	position:absolute;
	right: 0px;
	top: 3px;
	display: block;
	font-size: 0.7em;
}

.course .share {
    float:right;
}

.course .title a.showIt {
	background-position: 0px -19px;
}
.course .crosslistings {margin:4px 0 4px 95px;display:block;}
.course .crosslistings .crosslisting {font-size:1em;font-style:italic;background:none;}

.course .prereqs,
.course .notes,
.course .subsequent, 
.course .description {margin:7px 0 4px 0;}
.course .prereqs div,
.course .notes div,
.course .description div {
    display:inline;
}
#maincontent .description {margin: 1em 0;}
#maincontent .notes {margin-bottom:0;opacity:0.85;}
.course .prereqs {color:#0F900A;font-weight:bold;}
#maincontent .course .prereqs a {color:#0F900A; text-decoration:underline;}
#maincontent .course .prereqs a:hover, #maincontent .course .prereqs a:focus {color:#28aa23 !important; text-decoration:none;}
.course .subsequent {
    border-top: 1px solid #C8C8C8;
    padding: 5px;
    background: #F1F1F1;
    color:#777; font-size:smaller;
}
#maincontent .course .subsequent a {color:#777; text-decoration:underline;}
.course .notes {font-style:italic;}
.course .description {border-left:3px solid #C8C8C8;padding-left:5px;}

.course .details {border-collapse:collapse; right:0;}
.course .details tr.alt td {border:1px solid #C9E2F6;border-right:none;border-left:none;background-color:#E3F0FF;}
.course .details td {word-wrap: break-word;}
.course .details .label {
	font-size: 0.75em;
	font-weight: bold;
	line-height: 125%;
}
.course .details .value {font-size:0.75em;text-align:right;}
.course .details .credits .value {font-size:1em;}
.course {clear:both;}

.revealed {background-color:#fffea8;}

#subjectListing li, #majorListing li, #collegeListing li, .collegeListing li  {
	list-style-image: url('images/course.png');
	border-bottom:1px solid #ececec;
	padding:5px;
}
#majorListing li.minorAvailable a, #majorListing li.minorOnly a {
    background:url('images/minorIndicator.png') no-repeat right bottom;
    padding-right:77px;
}
#collegeListing li, .collegeListing li {
	list-style-image: url('images/buildings.png');	
}
#subjectListing li:hover, #majorListing li:hover, #collegeListing li:hover {
	background:#d7f0f5;
	background-image:-webkit-gradient(
    	linear,
	    left bottom,
	    left top,
	    color-stop(0.17, rgb(215,240,245)),
	    color-stop(0.41, rgb(222,244,247))
	);
	background-image:-moz-linear-gradient(
	    center bottom,
	    rgb(215,240,245) 17%,
	    rgb(222,244,247) 41%
	);
}	
#subjectListing li span.subjectCode {
	width:3.75em;
	display:inline-block;
}
#subjectListing li span.title {
	border-left: 1px dotted;
	color:#565656;
	padding-left:11px;
}
#subjectListing li a {
	border: none;
}
