.course .subjectCode {margin-bottom:-6px;color:#818489;display:block;float:left;min-width:85px;text-align:center;position:relative;z-index:12;}
.course .number {background-color:#E7F0F9;border:2px solid #cedae7; border-radius:5px;-moz-border-radius:5px;font-size:2.5em;padding:25px 0px 10px 0px;margin:-15px 5px 0 0;display:block;clear:left;float:left;font-weight:bold;min-width:85px;text-align:center;}
.course .wide {font-size:1.55em;padding:25px 0px 10px 2px;margin:-15px 5px 0 0;letter-spacing:-2px;}
.course .really.wide {font-size:1.1em;}
.course .title {font-size:1.4em; display:block; border-bottom:1px solid #C8C8C8;font-style:normal;font-weight:bold;margin-left:95px;padding-bottom:2px;}
.course .title a {
	float:right;
	margin-top:-9px;
	text-indent:-99999px;
	background:url(images/showHideInverse.png) no-repeat top right;
	background-position:0px 0px;
	display:block;
	width:23px;
	height:17px;
}
.course .title a.showIt {
	background-position:0px -19px;
}
.course .crosslistings {margin:4px 0 4px 95px;display:block;}
.course .crosslistings .crosslisting {font-size:1em;font-style:italic;background:none;}

.course .prereqs,
.course .notes,
.course .description {margin:4px 0;float:left;clear:left;width:450px;}

.course .prereqs {color:#0F900A;font-weight:bold;}
#maincontent .course .prereqs a {color:#0F900A; text-decoration:underline;}
#maincontent .course .prereqs a:hover, #maincontent .course .prereqs a:focus {color:#28aa23 !important; text-decoration:none;}
.course .notes {font-style:italic;}
.course .description {border-left:3px solid #C8C8C8;padding-left:5px;}

.course .details {width:220px;border-collapse:collapse;right:0px;float:right;}
.course .details tr.alt td {border:1px solid #C9E2F6;border-right:none;border-left:none;background-color:#E3F0FF;}
.course .details td {}
.course .details .label {font-weight:bold;}
.course .details .value {text-align:right;}
dd {margin:0 0 3em 0;padding-left:0 !important;position:relative;overflow:hidden;}
dt {padding:3em 0 0 0 !important;}
dt:first-of-type {padding:0 !important;}
.course {clear:both;}

/*filter box*/
#displayControl {
	}
#filters {color:#a15901;margin-top:15px;}
#filters legend span {display:block; width:208px; border-bottom:1px solid #c39863;font-weight:bold;margin-bottom:10px;font-size:1.1em;}
#filters div.element {display:inline;}
#filters input[type="checkbox"] {width:20px;float:left;margin-left:-4px;}
#filters label {display:inline;margin-left:0px;font-size:.9em;}
#filters ol li {clear:both;}
#filters ol {list-style:none;padding-left:0px;}
#filters ol li.disabled label {text-decoration: line-through;}

.revealed {background-color:#fffea8;}

#subjectListing li, #majorListing li, #collegeListing li {
	list-style-image: url('images/course.png');
	border-bottom:1px solid #ececec;
	padding:5px;
}
#collegeListing li {
	list-style-image: url('images/buildings.png');	
}
#subjectListing li:hover, #majorListing li:hover, #collegeListing li:hover {
	background:#d7f0f5;
	background-image:-webkit-gradient(
    	linear,
	    left bottom,
	    left top,
	    color-stop(0.17, rgb(215,240,245)),
	    color-stop(0.41, rgb(222,244,247))
	);
	background-image:-moz-linear-gradient(
	    center bottom,
	    rgb(215,240,245) 17%,
	    rgb(222,244,247) 41%
	);
}	
#subjectListing li span.subjectCode {
	min-width:38px;
	display:inline-block;
}
#subjectListing li span.title {
	border-left: 1px dotted;
	color:#565656;
	padding-left:11px;
}