@media screen{
    #maincontent {overflow:hidden;}
}
#maincontent div.wdn_notice div.message {
	background:url(images/information.png) no-repeat top left;
	padding: 0 5px 0 72px;
	min-height:76px;
}
#maincontent div.wdn_notice {
    border: 1px solid #cad094;
    background:#f8f9d1;
    display:block;
    width:920px;
    margin-bottom:25px;
}
#maincontent div.wdn_notice div.minimize a, #maincontent div.wdn_notice div.maximize a, #maincontent div.wdn_notice div.minimize a:hover, #maincontent div.wdn_notice div.maximize a:hover {
	border: 1px solid #cad094;

}
#maincontent #previousBulletins ul {
	list-style:none;
	margin:0;
	position:absolute;
	z-index:1;
	margin-left:0px;
	padding:0px;
	width:230px;
	height:48px;
	overflow:hidden;
}
#maincontent #previousBulletins:hover ul {
    height:auto; 
    background:#F8F9D1;
    border:1px solid #e7ecb9;
    border-top:none;
    -webkit-box-shadow: 0px 3px 4px  #b5b5b5;
	-moz-box-shadow: 0px 3px 4px #b5b5b5;
	box-shadow: 0px 3px 4px #b5b5b5; 
}
#maincontent #previousBulletins ul li {
    padding:3px 5px;
    border-bottom:1px solid #e7ecb9;
    
}
#maincontent #previousBulletins:hover ul li {
    padding:3px 4px;	
}
#maincontent #previousBulletins ul li:last-child {
    border-bottom:none;	
}
#maincontent div.wdn_notice div.minimize a:hover, #maincontent div.wdn_notice div.maximize a:hover {
	border: 1px solid #aaaf7d;

}
#maincontent div.wdn_notice.small {
	height:22px;
	padding:4px;
	width:932px;
}
#maincontent div.wdn_notice.small div.maximize {
	margin-right:6px;
}
#maincontent div.wdn_notice.small div.message {
	padding:4px 5px 0 68px;	
	background:url(images/information.png) no-repeat 0 -467px;
}
#maincontent div.wdn_notice.small .message h4 {
	font-size:1.2em;
	padding-top:0;
	display:inline-block;
	font-weight:bold;
}
#maincontent div.wdn_notice.small .message p {
	display:none;
}
/*

Versioning Box

*/
#versioning {
	position:fixed;
	bottom:5px;
	right:0px;
	z-index:1;
	font-size:90%;
}
#versioning .content {
    float:left;	
    background:#f8f9d1;
    -webkit-box-shadow: -1px 1px 3px #999999;
    -moz-box-shadow: -1px 1px 3px #999999;
    box-shadow: -1px 1px 3px #999999; 
    border: 1px solid #cad094;
    border-right:none;
    display:inline-block;
    padding:10px;
    height:100px;
}

#versioning .action {
    float:right; 
    width:9px;
    height:100px;
    background:#e6e7b6;
    border: 1px solid #cad094;
    padding:10px;
    -webkit-box-shadow: -1px 1px 3px #999999;
    -moz-box-shadow: -1px 1px 3px #999999;
    box-shadow: -1px 1px 3px #999999;
}
#versioning .action.opened {
    -webkit-box-shadow: 0px 1px 3px #999999;
    -moz-box-shadow: 0px 1px 3px #999999;
    box-shadow: 0px 1px 3px #999999;
    border-left:none;	
}
#versioning .action a {
    float:right;
    text-indent:-9999px;
    background:url('images/actionOpenClose.png') no-repeat 0 -15px;	
    width:9px;
    height:15px;
    opacity:.7;
}
#versioning .action.opened a {
    background-position:0 0; 
}
#versioning .action a:hover {
    opacity:1;	
}
#versioning h5 {
    font-weight:bold;
    letter-spacing:-.05em;
}
#versioning h5 span {
    background:	#f8f379;
    padding:0.2em;
    padding-bottom:0;
}

/*
Testing Indicator
*/
#testIndicator {
    background:#ac0302;
    height:100%;
    position:fixed;
    left:0;
    z-index:1;
    width:12px;
    background:url('images/testIndicator.gif') repeat-y;	
}
#testIndicator #versioning {
    display:none;	
}