@media screen{

}

#maincontent #previousBulletins ul {
	list-style:none;
	margin:0;
	position:absolute;
	z-index:1;
	margin-left:0px;
	padding:0px;
	width:230px;
	height:48px;
	overflow:hidden;
}
#maincontent #previousBulletins:hover ul {
    height:auto; 
    background:#F8F9D1;
    border:1px solid #e7ecb9;
    border-top:none;
    -webkit-box-shadow: 0px 3px 4px  #b5b5b5;
	-moz-box-shadow: 0px 3px 4px #b5b5b5;
	box-shadow: 0px 3px 4px #b5b5b5; 
}
#maincontent #previousBulletins ul li {
    padding:3px 5px;
    border-bottom:1px solid #e7ecb9;
    
}
#maincontent #previousBulletins:hover ul li {
    padding:3px 4px;	
}
#maincontent #previousBulletins ul li:last-child {
    border-bottom:none;	
}
#maincontent div.wdn_notice div.minimize a:hover, #maincontent div.wdn_notice div.maximize a:hover {
	border: 1px solid #aaaf7d;

}
#maincontent div.wdn_notice.small {
	height:22px;
	padding:4px;
	width:932px;
}
#maincontent div.wdn_notice.small div.maximize {
	margin-right:6px;
}
#maincontent div.wdn_notice.small div.message {
	padding:4px 5px 0 68px;	
	background:url(images/information.png) no-repeat 0 -467px;
}
#maincontent div.wdn_notice.small .message h4 {
	font-size:1.2em;
	padding-top:0;
	display:inline-block;
	font-weight:bold;
}
#maincontent div.wdn_notice.small .message p {
	display:none;
}
/*

Versioning Box

*/
#versioning {
    font-family: "Gotham SSm A","Gotham SSm B",Verdana,"Verdana Ref",Geneva,Tahoma,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",sans-serif;
    font-weight: 400;
	position:relative;
    height: 1em;
    margin-bottom: 1.5em;
    margin-left: -20px;
	z-index:10;
	font-size: 20px;
    letter-spacing: -0.05em;
    text-transform: capitalize;
}

#versioning .close span {
    display: none;
}

#versioning ul.open .close span {
    display: block;
    position: absolute;
    top: -12px;
    right: -12px;
    text-shadow: -1px -1px 0 black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    background: #555;
    color: white;
    border-radius: 100px;
    display: block;
    font-size: 32px;
    width: 30px;
    height: 30px;
    padding: 2px;
    border: 2px solid white;
    box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.5);
}

#versioning ul:after {
    content: '';
    position: absolute;
    top: 18px;
    left: 8px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #4a3b13;
}

#versioning p {
	margin-bottom:0;
}

#versioning ul {
    position: absolute;
    margin: 0;
    padding: 0;
}

#versioning ul li {
    display: none;
    line-height: 120%;
}
#versioning ul li a {
    display: block;
    padding: 10px 20px;
}
#versioning ul li.selected {display: block;}

/* For Desktop */
@media (min-width: 768px) {
    #versioning ul:hover li {
        display: block;
    }
    #versioning ul:hover { background: #fff; box-shadow: 2px 4px 8px -2px rgba(0, 0, 0, 0.125); }
    #versioning ul li:hover {
        background: #f5f5f5;
        box-shadow: -8px 0 0 0 #dfdfdf;
    }
    #versioning ul:hover li.selected,
    #versioning ul li.selected:hover {
        background: #f8f379;
        box-shadow: -8px 0 0 0 #EEE73C;
    }
    #versioning ul:hover:after {
        border-top: 8px solid rgba(0, 0, 0, 0.25);
    }
}

/* For mobile */
#versioning ul.open li,
#versioning ul.open li a {
    display: block;
}
#versioning ul.open { background: #fff; box-shadow: 2px 4px 8px -2px rgba(0, 0, 0, 0.125); }
#versioning ul.open li:hover {
    background: #f5f5f5;
    box-shadow: -8px 0 0 0 #dfdfdf;
}
#versioning ul.open li.selected,
#versioning ul.open li.selected:hover {
    background: #f8f379;
    box-shadow: -8px 0 0 0 #EEE73C;
}
#versioning ul.open:after {
    border-top: 8px solid rgba(0, 0, 0, 0.25);
}

#versioning h5 {
    font-size: 22px;
    font-weight:400;
    margin:0 0 4px; 
}
#versioning h5 span {
    background:	#f8f379;
    padding:0 0.2em;
}
#versioning .content p,
#versioning .content ul {
    font-size: 12px;
    margin-top: 0;
}

/*
Testing Indicator
*/
#testIndicator {
    background:#ac0302;
    height:100%;
    position:fixed;
    left:0;
    z-index:1;
    width:12px;
    background:url('images/testIndicator.gif') repeat-y;	
}
#testIndicator #versioning {
    display:none;	
}
/*
Homepage layouts
*/
#maincontent .thumbs li div, #maincontent .separator-box {
    border: solid 3px #fff;
	background-color: #fff;
	margin-bottom: 24px;
	-moz-box-shadow:0 0px 6px #f1efe5;
	-webkit-box-shadow:0 0px 6px #f1efe5;
    box-shadow:0 0px 6px #f1efe5;
	padding: 5px;
	position: relative;
}
#maincontent .separator-box p {
    font-size: 14px;
}
#maincontent .thumbs li div img, #maincontent .separator-box img {
    width: 100%;
}
#maincontent .button-list {
    margin-top: 0.5em;
}
#maincontent .thumbs ul li a, #maincontent .pill-button {
    background-color: rgba(128, 198, 98, 0);
    padding: 0.5em 0;
    border: none;
    display: block;
    text-align: center;
    color: #AC0000;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
}
#maincontent .thumbs ul li a:hover, #maincontent .thumbs ul li a:focus, #maincontent .pill-button:hover, #maincontent .pill-button:focus {
    background-color: rgb(128, 198, 98);
    color: #fff;
}
#maincontent .thumbs ul li a:active, #maincontent .pill-button:active {
    background-color: #79B85E;
    color: #f0f0f0;
}
#maincontent .em {
    font-size: 250%;
}
.pull {
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 2.4em 0;
    padding: 1em;
}
#maincontent .header-underlay {
    position: relative;
    line-height: 0;
    display: block;
    border: none;
}
#maincontent .header-overlay {
    position: absolute;
    padding: 0.25em 0.5em;
    margin: 0;
    font-size: 1.2em;
    bottom: 0;
    background: #d9d4b8;
    background: rgba(222, 222, 222, 0.9);
    text-shadow: 1px 1px solid #fff;
    color: #535353;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
#maincontent .header-underlay:hover .header-overlay {
    background: rgba(128, 198, 98, 0.95);
    color: #fff;
    text-shadow: 1px 1px solid #255d16;
}
#maincontent .reset-list {
    padding: 0;
    list-style: none;
}




