p.college-name {
    
    line-height: 1.20em;
    font-size: 2.00em;
    text-indent: 0.00em;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    
}

p.bullet-1 {
    
    line-height: 1.20em;
    font-size: 0.83em;
    text-indent: -0.90em;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    
}
p.abbreviations-note {
    text-align:right;
    clear:both;
}
p.numbered-list {
    text-align: left;
    font-weight: normal;
    font-style: normal;
    padding: 0 0 0 25px;
    text-index:-1.3em;
}
p.endorsements {
    line-height: 1.10em;
    font-size: 0.83em;
    text-indent: 0.00em;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    
}
p.asterisk {
    
    line-height: 1.20em;
    font-size: 0.75em;
    text-indent: 0.00em;
    text-align: left;
    font-weight: normal;
    font-style: italic;
    
}
span.endorsement-title {
    
    font-weight: bold;
    font-style: normal;
    font-size: 0.83em;
    line-height: 1.10em;
}

span.superscript {
    font-size: 50%;
    vertical-align: super;
}
