#maincontent h2.subhead {
    text-transform:uppercase;
    color:#3f85ca;
    font-size:.9em;
    margin-top:-8px;
    margin-bottom:15px;
}
#maincontent div.story h2.sec_header,
#maincontent div.story h3,
#maincontent div.story h4,
#maincontent div.story h5 {
    margin-top:1em;
}

.intro {
    font-size:115%;
    line-height:145%;
    }
#toc_nav {
    position:relative;
    font-size:150%;
    width:220px;
    margin-bottom:1em;
    top:10px;
    z-index:45;
}
#toc_bar {
	position:fixed;
	display:none;
	top:0;
	left: 0;
	height:40px;
	width:100%;
	background:#fff;
	text-align:center;	
	z-index:44;
	border-bottom:5px solid #e0e0e0;
	font-size:1.8em;
	padding-top:14px;
	opacity:0.90;
}
#toc_major_name {
	display:none;
	float:left;
	margin:-30px 0 0 215px;
	text-align:center;
}
table.major_quick_points {
    margin-bottom:2em;
}
table.major_quick_points thead tr:nth-child(2),
table.major_quick_points caption, .table_heading {
    display:none;
    visibility:hidden;
}

table.major_quick_points .attr {
    font-weight:bold;
}
table.major_quick_points .value {
    text-align:right;
}
#long_content {margin-top:35px;}
#maincontent ol#toc {
    font-size:.65em;
    position:absolute;
    background:#f7f7f7 url('images/majorContentsLowerBG.png') no-repeat top left;
    list-style: upper-alpha;
    padding:10px 10px 10px 35px;
    min-width:400px;
    margin:-7px 0 0 4px;
    border-right:1px solid #ededed;
    border-bottom:1px solid #ededed;
    -moz-box-shadow: 2px 2px 5px #888;
    -moz-border-radius:5px;
    -webkit-box-shadow: 2px 2px 5px #888;
    -webkit-border-radius:5px;
    box-shadow: 2px 2px 5px #888;
    border-radius:5px;
} 
#maincontent ol#toc ol { list-style: decimal;padding:0 0 0 25px;}
#maincontent ol#toc ol ol { list-style: lower-roman;padding:0 0 0 25px;}
#maincontent ol#toc ol ol ol { list-style: lower-alpha;padding:0 0 0 25px;}

#toc_nav a#tocContent {
    background:url('images/majorContents.png');
    width:135px;
    height:30px;
    display:block;
    padding:8px 0 0 50px;
    color:#3f85ca;
    z-index:10;
    }
#toc_nav a#tocContent:active, #toc_nav a#tocContent:focus {
    color:#3f85ca !important;
    }
a.top {
    float:right;
}

#maincontent p + p.header-paragraph {
    margin-top:1em;
}

#maincontent p + p.numbered-list {
    margin-bottom:0;
}

#maincontent p.list {
    margin-bottom:0em;
}
#maincontent p.list-indent {
    margin-bottom:0em;
    text-indent:1.5em;
}

#maincontent p.requirement-sec-1 {
    font-weight:bold;
    margin:1em 0 0;
}
#maincontent p.requirement-hours {
    float:right;
    margin-bottom:0em;
}
#maincontent .requirement-underline {
    text-decoration:underline;
}
#maincontent .requirement-ital,
#maincontent .basic-text-ital,
#maincontent .list-ital {
    font-style: italic;
}
#maincontent .requirement-bold,
#maincontent .basic-text-bold,
#maincontent .faculty-list-bold,
#maincontent .list-bold,
#maincontent .header-paragraph-title {
    font-weight: bold;
}
#maincontent p.requirement-sec-2,
#maincontent p.requirement-sec-3,
#maincontent p.requirement-sec-3-ledr,
#maincontent p.requirement-sec-3-note,
#maincontent p.requirement-sec-4 {
    margin:0 1em 0 0;
    display:block;
    clear:both;
}

#maincontent p.requirement-sec-3,
#maincontent p.requirement-sec-3-note,
#maincontent p.requirement-sec-3-ledr {
    margin-left:1em;
    margin-right:2em;
}
#maincontent p.requirement-sec-4,
#maincontent p.requirement-sec-4-ledr {
    margin-left:2em;
    margin-right:3em;
}

#maincontent p span {
    background-color:#FFF;
}
#maincontent p span.req_desc,
#maincontent p span.req_desc span.requirement-ital {
    padding-bottom:1px;
    border-bottom:2px solid #FFF;
}

#maincontent p span.leader {
    display:block;
    width:100%;
    border-bottom:1px dotted;
    }

#maincontent p span.req_value {
    float:right;
    padding-left:3px;
    margin-top:-1.2em;
}

#maincontent p.quick-points,
#maincontent p.major-name {
    display:none;
}

#maincontent p.faculty-list {
    margin:0;
}

#maincontent table p {
    margin:0;
}

/********************************************

Course qTip Styles

*********************************************/

.qtip {
	color:#494949;
	font-size:80%;
	font-style:normal;
	font-family: "Lucida Grande",Verdana,Arial;
	font-variant:normal;
	font-weight:normal;
	line-height:110%;
	text-align:left;
	margin-bottom:20px;	
	max-width:600px;
}
.qtip-defaults {
	border:3px;
	-moz-border-radius:5px;	
}
.qtip-wrapper {
    border:3px solid #c8c8c8;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.qtip-contentWrapper {
	overflow:scroll;
	min-height:100px;
}
.qtip-content {padding:9px;overflow:scroll;}
.qtip-tip {
	z-index:999999;
}
.qtip-tip[rel=bottomleft] + .qtip-wrapper {
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
}
.qtip-tip[rel=topleft] + .qtip-wrapper {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
}
.qtip-tip[rel=bottomright] + .qtip-wrapper {
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
}
.qtip-tip[rel=topright] + .qtip-wrapper {
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}
.qtip .title a {display:none;}
.qtip .subjectCode {margin-top:11px;min-width:60px;top:-3px;margin-left:2px;}
.qtip .number {
	margin:-14px 5px 0 0;
	min-width:60px;
	padding:19px 0 7px;
}
.qtip .course .title {
	background:#f5f5f5;
	margin:-8px -10px 0 -10px;
	padding:7px 5px 4px 82px;
	border-bottom:1px solid #e7e7e7;
	font-size:150%;
}
.qtip dt, .qtip dd {
	font-size:80%;
	margin:0;
}
.qtip .course .prereqs, .qtip .course .notes, .qtip .course .description {
	width:340px;
}
.qtip .course .prereqs a {color:#0F900A; text-decoration:underline;}
.qtip .course .prereqs a:hover, .qtip .course .prereqs a:focus {color:#28aa23 !important; text-decoration:none;}