/********************************************

Course qTip Styles

*********************************************/

.qtip {
    color:#494949;
    font-size:80%;
    font-style:normal;
    font-family: "Lucida Grande",Verdana,Arial;
    font-variant:normal;
    font-weight:normal;
    line-height:110%;
    text-align:left;
    margin-bottom:20px; 
    max-width:650px;
}
.qtip .qtip-defaults {
    border:3px;
    -moz-border-radius:5px;
}
.qtip .qtip-wrapper {
    background-color:#fff;
    border:3px solid #c8c8c8;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.qtip .qtip-contentWrapper {
    min-height:100px;
    background:#fff;
    width:618px;
    border:none !important;
}
.qtip .qtip-content {padding:9px;overflow:scroll;}
.qtip .qtip-tip {
    z-index:999999;
}
.qtip .qtip-tip[rel=bottomleft] + .qtip-wrapper {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
}
.qtip .qtip-tip[rel=topleft] + .qtip-wrapper {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
}
.qtip .qtip-tip[rel=bottomright] + .qtip-wrapper {
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
}
.qtip .qtip-tip[rel=topright] + .qtip-wrapper {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
}

.qtip  dt, .qtip  dd {
    font-size:80%;
    margin:0;
    width:600px;
}

.qtip .title a {display:none;}
.qtip .subjectCode {
    margin-top:11px;
    min-width:60px;
    top:-3px;
    margin-left:2px;
}
.qtip .number {
    margin:-14px 5px 0 0;
    min-width:60px;
    padding:19px 0 7px;
    z-index:1000;
}
.qtip .course .title {
    margin:0 0 0 72px;
    padding:7px 5px 4px 0;
    border-bottom:1px solid #e7e7e7;
    font-size:150%;
}
.qtip .course .prereqs, .qtip .course .notes, .qtip .course .description {
    width:60%;
}
.qtip .course .prereqs a {color:#0F900A; text-decoration:underline;}
.qtip .course .prereqs a:hover, .qtip .course .prereqs a:focus {color:#28aa23 !important; text-decoration:none;}

/********************************************

Search help qTip Styles

*********************************************/

.qtip.searchHelp {
    max-width:300px;
}
.qtip.searchHelp .qtip-wrapper, .qtip.searchHelp .qtip-contentWrapper {
    background-color:#d4e4f5;
}
.qtip.searchHelp .qtip-wrapper{
    border-color: #557BB7;
}
.qtip.searchHelp .qtip-content {padding:0 !important;}
.qtip.searchHelp h4 {
    color:#fff;
    background-color:#7998c9;
    font-size:1.2em;
    padding:5px;
    
}
.qtip.searchHelp p, .qtip.searchHelp ul {
    padding:5px;
    font-size:0.9em;
    color:#032152;
}
#courseSearchHelp {width:295px;}
.operator {
    font-style:italic;
    color:#557BB7;
}