.indicator div.message {
	background:url(/wdn/templates_3.0/css/content/images/indicators/information.png) no-repeat top left;
}
.indicator {
    border: 1px solid #cad094;
    background:#f8f9d1;
}
.indicator div.minimize a, .indicator div.maximize a, .indicator div.minimize a:hover, .indicator div.maximize a:hover {
	border: 1px solid #cad094;

}
.indicator div.minimize a:hover, .indicator div.maximize a:hover {
	border: 1px solid #aaaf7d;

}