#maincontent h2.subhead {
    text-transform:uppercase;
    color:#3f85ca;
    font-size:.9em;
    margin-top:-8px;
    margin-bottom:15px;
}
p.intro {
	font-size:115%;
	line-height:145%;
	}
#major_nav {
    position:relative;
    font-size:150%;
    width:220px;
    margin-bottom:1em;
}
#major_nav ul {
    position:absolute;
    background-color:#eee;
}
#major_nav a#majorContent {
	background:url('images/majorContents.png');
	width:135px;
	height:30px;
	display:block;
	padding:8px 0 0 50px;
	color:#3f85ca;
	}
#major_nav a#majorContent:active, #major_nav a#majorContent:focus {
	color:#3f85ca !important;
	}
a.top {
	float:right;
}