#maincontent h2.subhead {
    text-transform:uppercase;
    color:#3f85ca;
    font-size:.9em;
    margin-top:-8px;
    margin-bottom:15px;
}
.intro {
	font-size:115%;
	line-height:145%;
	}
#major_nav {
    position:relative;
    font-size:150%;
    width:220px;
    margin-bottom:1em;
}
#maincontent ol#toc {
    font-size:.65em;
    position:absolute;
    background-color:#f7f7f7;
    list-style: upper-alpha;
    padding:10px 10px 10px 35px;
    min-width:400px;
    z-index:9;
    margin:-7px 0 0 4px;
    border:1px solid #ededed;
    border-radius:5px;
} 
#maincontent ol#toc ol { list-style: decimal;padding:0 0 0 25px;}
#maincontent ol#toc ol ol { list-style: lower-roman;padding:0 0 0 25px;}
#maincontent ol#toc ol ol ol { list-style: lower-alpha;padding:0 0 0 25px;}

#major_nav a#majorContent {
	background:url('images/majorContents.png');
	width:135px;
	height:30px;
	display:block;
	padding:8px 0 0 50px;
	color:#3f85ca;
	z-index:10;
	}
#major_nav a#majorContent:active, #major_nav a#majorContent:focus {
	color:#3f85ca !important;
	}
a.top {
	float:right;
}