#previousBulletins {
    ul {
        list-style:none;
        margin:0;
        position:absolute;
        z-index:1;
        margin-left:0px;
        padding:0px;
        width:230px;
        height:48px;
        overflow:hidden;

        li {
            padding:3px 5px;
            border-bottom:1px solid #e7ecb9;

            &:last-child {
                border-bottom:0;
            }
        }
    }

    &:hover ul {
        height:auto;
        background:#F8F9D1;
        border:1px solid #e7ecb9;
        border-top:none;
        box-shadow: 0px 3px 4px #b5b5b5;

        li {
            padding:3px 4px;
        }
    }
}

#long_content h3,
#long_content h4,
#long_content h5 {
    font-weight: 400;
}

#versioning {
    opacity: 0;
    font-family: "Gotham SSm A","Gotham SSm B",Verdana,"Verdana Ref",Geneva,Tahoma,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",sans-serif;
    font-weight: 400;
    position:relative;
    height: 1em;
    margin-bottom: 1.899em;
    margin-left: -20px;
    z-index:10;
    font-size: 20px;
    letter-spacing: -0.05em;
    text-transform: capitalize;

    .close span {
        display: none;
    }

    ul {
        position: absolute;
        margin: 0;
        padding: 0;

        li {
            display: none;
            line-height: 120%;

            a {
                display: block;
                padding: 10px 20px;
            }

            &.selected {
                display: block;
            }
        }

        &:hover,
        &.open {
            background: #fff;
            box-shadow: 2px 4px 8px -2px rgba(0, 0, 0, 0.125);

            li {
                display: block;

                &:hover {
                    background: #f5f5f5;
                    box-shadow: -8px 0 0 0 #dfdfdf;
                }

                &.selected {
                    background: #f8f379;
                    box-shadow: -8px 0 0 0 #EEE73C;
                }
            }
        }

        &.open {
            .close span {
                display: block;
                position: absolute;
                top: -12px;
                right: -12px;
                text-shadow: -1px -1px 0 black;
                transform: rotate(45deg);
                cursor: pointer;
                background: #555;
                color: white;
                border-radius: 100px;
                display: block;
                font-size: 32px;
                width: 30px;
                height: 30px;
                padding: 2px;
                border: 2px solid white;
                box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.5);
                z-index: 2;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 18px;
            left: 8px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 8px solid #4a3b13;
        }

        @media (min-width: 768px) {
            &:hover {
                li {
                    display: block;
                }
            }
        }
    }
}

#testIndicator {
    background:#ac0302;
    height:100%;
    position:fixed;
    left:0;
    z-index:1;
    width:12px;
    background:data-uri('../images/testIndicator.gif') repeat-y;
}
