.course .subjectCode {margin-bottom:-6px;color:#818489;display:block;float:left;min-width:85px;text-align:center;position:relative;z-index:12;}
.course .number {background-color:#E7F0F9;border:1px solid #e7f0f9; border-radius:5px;-moz-border-radius:5px;font-size:2.5em;padding:25px 0px 10px 0px;margin:-15px 5px 0 0;display:block;clear:left;float:left;font-weight:bold;min-width:85px;text-align:center;}
.course .wide {font-size:1.55em;padding:25px 2px 10px 2px;margin:-15px 5px 0 0;letter-spacing:-2px;}
.course .title {font-size:1.5em; display:block; border-bottom:1px solid #C8C8C8;font-style:normal;font-weight:bold;margin-left:95px;}
.course .title a {float:right;margin-top:-8px;font-size:.6em;}
.course .crosslistings {margin:4px 0 4px 95px;display:block;}
.course .crosslistings .crosslisting {font-size:1em;font-style:italic;background:none;}

.course .prereqs,
.course .notes,
.course .description {margin:4px 0;float:left;clear:left;width:450px;}

.course .prereqs {color:#0F900A;font-weight:bold;}
.course .notes {font-style:italic;}
.course .description {border-left:3px solid #C8C8C8;padding-left:5px;}

.course .details {width:220px;border-collapse:collapse;right:0px;float:right;}
.course .details tr.alt td {border:1px solid #C9E2F6;border-right:none;border-left:none;background-color:#E3F0FF;}
.course .details td {}
.course .details .label {font-weight:bold;}
.course .details .value {text-align:right;}
dd {margin:0 0 3em 0;padding-left:0 !important;position:relative;overflow:hidden;}
dt {padding:3em 0 0 0 !important;}
.course {clear:both;}

/*filter box*/
#displayControl {
	}
#filters {color:#a15901;margin-top:15px;}
#filters legend span {display:block; width:208px; border-bottom:1px solid #c39863;font-weight:bold;margin-bottom:10px;font-size:1.1em;}
#filters div.element {display:inline;}
#filters input[type="checkbox"] {width:20px;float:left;margin-left:-4px;}
#filters label {display:inline;margin-left:0px;font-size:.9em;}
#filters ol li {clear:both;}
#filters ol {list-style:none;padding-left:0px;}

.revealed {background-color:#fffea8;}