p.college-name {
    
    line-height: 1.20em;
    font-size: 2.00em;
    margin-bottom: 0.00em;
    margin-top: 0.00em;
    text-indent: 0.00em;
    margin-right: 0.00em;
    margin-left: 0.00em;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    
}
p.content-box-h-1 {
    
    line-height: 1.20em;
    font-size: 1.33em;
    margin-bottom: 0.00em;
    margin-top: 1.12em;
    text-indent: 0.00em;
    margin-right: 0.00em;
    margin-left: 0.00em;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    
}
p.section-1 {
    
    line-height: 1.20em;
    font-size: 1.17em;
    margin-bottom: 0.00em;
    margin-top: 0.77em;
    text-indent: 0.00em;
    margin-right: 0.00em;
    margin-left: 0.00em;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    
}
p.section-2 {
    
    line-height: 1.20em;
    font-size: 0.92em;
    margin-bottom: 0.00em;
    margin-top: 0.65em;
    text-indent: 0.00em;
    margin-right: 0.00em;
    margin-left: 0.00em;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    
}

p.bullet-1 {
    
    line-height: 1.20em;
    font-size: 0.83em;
    margin-bottom: 0.00em;
    margin-top: 0.00em;
    text-indent: -0.90em;
    margin-right: 0.00em;
    margin-left: 0.90em;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    
}
p.numbered-list {
    
    line-height: 1.10em;
    font-size: 0.83em;
    margin-bottom: 0.00em;
    margin-top: 0.29em;
    text-indent: -0.90em;
    margin-right: 0.00em;
    margin-left: 0.90em;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    
}
p.section-3 {
    
    line-height: 1.20em;
    font-size: 0.83em;
    margin-bottom: 0.00em;
    margin-top: 0.36em;
    text-indent: 0.00em;
    margin-right: 0.00em;
    margin-left: 0.00em;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    
}
p.endorsements {
    
    line-height: 1.10em;
    font-size: 0.83em;
    margin-bottom: 0.00em;
    margin-top: 1.08em;
    text-indent: 0.00em;
    margin-right: 0.00em;
    margin-left: 0.00em;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    
}
p.asterisk {
    
    line-height: 1.20em;
    font-size: 0.75em;
    margin-bottom: 0.00em;
    margin-top: 0.56em;
    text-indent: 0.00em;
    margin-right: 0.00em;
    margin-left: 0.00em;
    text-align: left;
    font-weight: normal;
    font-style: italic;
    
}
span.endorsement-title {
    
    font-weight: bold;
    font-style: normal;
    font-size: 0.83em;
    line-height: 1.10em;
}
