<div class="wdn-grid-set">
    <div class="bp960-wdn-col-two-thirds">
        <div class="wdn-footer-module">
            <span role="heading" class="wdn-footer-heading">Academic Affairs <span class="wdn-text-hidden"> Contact Information</span></span>
            <p class="wdn-icon-location adr">
                <span class="street-address">208 Administration Building</span><br />
                <span class="locality">Lincoln</span>,
                <abbr class="region" title="Nebraska">NE</abbr>
                <span class="postal-code">68588-0420</span>
            </p>
            <p class="wdn-icon-phone"><a href="tel:402-472-3751" class="tel">402-472-3751</a></p>
            <p class="wdn-icon-print">402-472-4929</p>
            <p class="wdn-icon-mail"><a href="mailto:academicaffairs&commat;unl.edu">academicaffairs&commat;unl.edu</a></p>
			<p>This application is developed and maintained by <a href="http://iim.unl.edu/">Internet and Interactive Media</a> (IIM), which is a partnership with University Communications and Information Technology Services.</p>
		</div>
	</div>
    <div class="bp960-wdn-col-one-third">
        <div class="wdn-footer-module">
            <span role="heading" class="wdn-footer-heading">Related Links</span>
            <ul class="wdn-related-links-v1">
                <li><a href="http://go.unl.edu/schedule">Schedule of Classes</a></li>
            	<li><a href="http://registrar.unl.edu/academic-calendar">Academic Calendar</a></li>
            	<li><a href="http://stuafs.unl.edu/dos/code">Student Code of Conduct</a></li>
                <li><a href="http://www.unl.edu/depts/">Colleges &amp; Departments</a></li>
                <li><a href="http://admissions.unl.edu/">Undergraduate Admissions</a></li>
                <li><a href="http://www.unl.edu/gradstudies/">Graduate Studies</a></li>
            </ul>
        </div>
    </div>
</div>
