<div class="vcard">
    <p class="wdn-icon-location adr">
        <span class="fn">Undergraduate Education</span><br />
        <span class="street-address">221 Seaton Hall</span><br />
        <span class="locality">Lincoln</span>, 
        <abbr class="region" title="Nebraska">NE</abbr> 
        <span class="postal-code">68588-0683</span>
    </p>
    <p class="wdn-icon-phone"><a href="tel:402-472-4030" class="tel">402-472-4030</a></p>
    <p class="wdn-icon-mail"><a href="mailto:undergrad.ed@unl.edu" class="email">undergrad.ed@unl.edu</a></p>
</div>
