<div class="wdn-grid-set">
    <div class="bp960-wdn-col-two-thirds">
        <div class="wdn-footer-module">
            <span role="heading" class="wdn-footer-heading">Undergraduate Education <span class="wdn-text-hidden"> Contact Information</span></span>
            <p class="wdn-icon-location adr">
                <span class="fn">Undergraduate Education</span><br />
                <span class="street-address">221 Seaton Hall</span><br />
                <span class="locality">Lincoln</span>,
                <abbr class="region" title="Nebraska">NE</abbr>
                <span class="postal-code">68588-0683</span>
            </p>
            <p class="wdn-icon-phone"><a href="tel:402-472-4030" class="tel">402-472-4030</a></p>
            <p class="wdn-icon-mail"><a href="mailto:undergrad.ed@unl.edu" class="email">undergrad.ed@unl.edu</a></p>
			<p>This application is developed and maintained by <a href="http://iim.unl.edu/">Internet and Interactive Media</a> (IIM), which is a partnership with University Communications and Information Technology Services.</p>
		</div>
	</div>
    <div class="bp960-wdn-col-one-third">
        <div class="wdn-footer-module">
            <span role="heading" class="wdn-footer-heading">Related Links</span>
            <ul class="wdn-related-links-v1">
                <li><a href="http://svcaa.unl.edu/">Academic Affairs</a></li>
                <li><a href="http://www.unl.edu/depts/">Colleges &amp; Departments</a></li>
                <li><a href="http://admissions.unl.edu/">Undergraduate Admissions</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
ga('create', 'UA-22294096-1', 'auto');
ga('send', 'pageview');
</script>