/*********************************

Autocomplete CSS

*********************************/
#ui-id-1, #ui-id-2 {
    position: relative;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0;
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: 2px 4px 8px -2px rgba(0, 0, 0, 0.1);
}

.ui-autocomplete {
	max-width: 31.474em;
	margin: -5px 0 0 0.75em;
	border-top: rgba(185, 185, 185, 0.26);
    color: #494949;
	font-size: 60%;
	font-style: normal;
	font-family: "Lucida Grande",Verdana,Arial;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.069;
	text-align: left;
}
.ui-autocomplete .course {
    margin-left: 2px;
}
.ui-autocomplete a span.format {
    display: block;
	font-size: 100%;
    font-weight: bold;
    padding: 5px 10px;
}
#ui-id-1.ui-autocomplete > li,
#ui-id-2.ui-autocomplete > li {
	padding: 0px;
}
#ui-id-1.ui-autocomplete > li > a,
#ui-id-2.ui-autocomplete > li > a {
	display: block;
    padding: 0.602em 0.339em;
	border-bottom: 1px dashed #d6d6d6;
}
#ui-id-1.ui-autocomplete > li:last-child > a,
#ui-id-2.ui-autocomplete > li:last-child > a {
    border-bottom: none;
}
.ui-autocomplete a .number,
.ui-autocomplete a .format {
    color: #494949;
}
.ui-autocomplete a .title,
.ui-autocomplete a .format {
    color: #c00;
}
.ui-autocomplete a.indicator .title,
.ui-autocomplete a.indicator .format {
    color: #fff;
}
.ui-autocomplete a.indicator {
	background: #80c662;
	border: none;
    border-radius: 0;
	cursor: pointer;
}
.ui-autocomplete .courseID,
.ui-autocomplete dt.course .title {
    display: table-cell;
}
.ui-autocomplete .courseID {
    float: none;
    width: 5.997em;
    padding: 0.339em 0.317em;
    font-size: 50%;
}
.ui-autocomplete dt .number, .ui-autocomplete dt .subjectCode {
	min-width: 40px;
	text-align: center;
}
.ui-autocomplete dt .subjectCode {
	margin-bottom: 2px;
	font-size: 80%;
}
.ui-autocomplete dt.course .title {
	border: none;
	line-height: 100%;
	padding-top: 6px;
    padding-left: 10px;
    font-size: 0.85em;
    vertical-align: middle;
}
#ui-id-1 .ui-widget-content a.ui-corner-all,
#ui-id-2 .ui-widget-content a.ui-corner-all {
    color: #c00;
}


#search_forms {
    background: #ECEAE3;
}
#search_forms form {
    overflow: hidden;
}
#maincontent #search_forms h3 {
    line-height: 145%;
    padding-left: 0.5%;
    margin-top: 0.5em;
}
#search_forms .option {
    padding: 0.02em 0.25em;
    border-radius: 3px;
    cursor: pointer;
    background: #ffffff;
    color: #3A484F;
    transition: color .2s;
}

#search_forms .option.active:after {
    color: #666666;
    content: "\25BC";
    display: block;
    font-size: 30%;
    left: 45%;
    position: absolute;
    bottom: -10px;
}

#search_forms .option:hover {
    color: #608EEE;
}
#search_forms .option.active,
#search_forms .option.active:hover {
    background: #608EEE;
    color: #fff;
    cursor: default;
    position: relative;
}

#search_forms legend {
    display: none;
}

#majorform {
	display: none;
}

.search_help {
    font-size: 0.802em;
    line-height: 0;
    opacity: 0;
    margin: 0;
    transition: all .25s;
}
.search_help.open {
    position: relative;
    line-height: 1.777;
    opacity: 1;
    margin: 1em 0;
}

.searchcourses .course .info-1,
.searchcourses .course .info-2 {
	width: 100%;
}

#maincontent form.filters label span.count {
	color: #555;
    font-size: 13px;
    font-size: 0.802rem;
	font-style: italic;
}
